canvas {    
    border-radius: 7px;
    margin: 0 auto;
    display: none;
  }

  body {
    background-color:darkcyan;
    font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
  }
  
  .selectionScreen {
    width: 1080px;
    height: 540px;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .playerSelection {
    width: 980px;
    height: 280px;  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .charImage {
    width: 190px;
    border-radius: 10px;
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
  }

  h2 {
    text-align: center;
    font-size: 30px;
  }

  .selectionScreen > h2 {
    font-size: 45px;
    margin-bottom: 10px;
  }

  h1 {
    text-align: center;
    font-size: 60px;
    margin: 50px;
    color: white;
  }

  .start-btn {
    width: 150px;
    height: 50px;
    margin: 20px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 8px;
  }